<footer class="pt-4 my-md-0 pt-md-5 border-top">
  <div class="row px-5 mx-auto w-75 text-center">
    <div class="col-6 col-md col-xl col-lg col-sm">
      <app-my-marque></app-my-marque>
    </div>
    <div class="col-6 col-md col-xl col-lg col-sm">
      <app-my-car></app-my-car>
    </div>
    <div class="col-6 col-md col-xl col-lg col-sm">
      <app-help></app-help>
    </div>
    <div class="col-6 col-md col-xl col-lg col-sm py-4">
      <app-social-media></app-social-media>
    </div>
  </div>
  <div class="row px-5 py-2 mx-auto w-75">

    <small class="d-block mb-3 text-muted text-center" >Le site www.peugeot.fr est publié par AUTOMOBILES PEUGEOT,
      société anonyme au capital de 172 711 770 Euros,
      dont le siège est au : 07 rue Henri Sainte-Claire Deville, 92500 Rueil-Malmaison (France),
      immatriculée au Registre du Commerce et des Sociétés de Nanterre sous le numéro B 552 144 503.
      N° d’identification : FR 23552144503 – APE 7010Z N° SIRET : 552 144 503 01248 Téléphone : 01 55 94 81 00
    </small>

  </div>
  <div class="row px-5"></div>
</footer>
