<div class="mym-container-head">
  <app-mym-header></app-mym-header>
</div>
<app-mym-footer></app-mym-footer>



<div class="container">
  <div class="row">
    <div class="col-6">
      <h2>widget-content</h2>
      <p>country: {{this.input_country}}</p>
      <p>language: {{this.input_language}}</p>
      <p>brand: {{this.input_brand}}</p>
    </div>
    <div class="col-6">
      <app-widget-connexion input_country="ch-cx" input_language="it-cx" input_brand="DS-cx"></app-widget-connexion>
    </div>
  </div>

</div>